<div class="space-y-8 p-6">

  <!--MÉTRICAS-->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">

    <div class="bg-white p-6 rounded-2xl border shadow-sm">
      <p class="text-sm text-slate-500">Áreas Monitoradas</p>
      <h3 class="text-3xl font-bold">{{ totalAreas() }}</h3>
    </div>

    <div class="bg-white p-6 rounded-2xl border shadow-sm">
      <p class="text-sm text-slate-500">Sensores Ativos</p>
      <h3 class="text-3xl font-bold">{{ totalSensores() }}</h3>
    </div>

    <div class="bg-white p-6 rounded-2xl border shadow-sm">
      <p class="text-sm text-slate-500">Temp. Média</p>
      <h3 class="text-3xl font-bold">{{ temperaturaMedia() }} °C</h3>
    </div>

    <div class="bg-white p-6 rounded-2xl border shadow-sm ring-2 ring-red-500/30">
      <p class="text-sm text-slate-500">Alertas</p>
      <h3 class="text-3xl font-bold text-red-600">
        {{ totalAlertas() }}
      </h3>
    </div>

  </div>

  <!--SELEÇÃO DE ÁREA -->
  <div class="bg-white p-6 rounded-2xl border shadow-sm">
    <h3 class="font-bold mb-4">Selecionar Área</h3>

    <select class="input w-full" (change)="onAreaChange($event)">
      <option value="">Selecione uma área</option>
      @for (a of areas(); track a.id) {
        <option [value]="a.id">{{ a.nome }}</option>
      }
    </select>
  </div>

  <!-- GRÁFICO-->
  <div class="bg-white p-8 rounded-3xl border shadow-sm">
    <h3 class="text-xl font-bold mb-4">
      Tendência de Temperatura
    </h3>

    @if (series().length > 0) {
      <apx-chart
        [series]="series()"
        [chart]="chartOptions.chart"
        [xaxis]="xaxis()"
        [stroke]="chartOptions.stroke"
        [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [tooltip]="chartOptions.tooltip">
      </apx-chart>

    } @else {
      <p class="text-slate-400 italic">Nenhuma leitura disponível</p>
    }
  </div>

  <!-- TABELA-->
  <div class="bg-white p-6 rounded-2xl border shadow-sm">
    <h3 class="font-bold mb-4">Leituras Recentes</h3>

    @if (leituras().length > 0) {
      <table class="w-full text-sm">
        <thead>
          <tr class="bg-slate-100">
            <th class="p-2">Data/Hora</th>
            <th>Temperatura (°C)</th>
            <th>Umidade (%)</th>
          </tr>
        </thead>
        <tbody>
          @for (l of leituras(); track l.id) {
            <tr class="border-t">
              <td class="p-2">
              {{ l.dataHora }}
              </td>
              <td>{{ l.temperatura }}</td>
              <td>{{ l.umidade }}</td>
            </tr>
          }
        </tbody>
      </table>
    } @else {
      <p class="text-slate-400 italic">Selecione uma área</p>
    }
  </div>

</div>
